@model IPagedList<Post>
@{
	ViewData["PageTitle"] = "Trang chủ";
	var postQuery = (ViewBag.PostQuery as PostQuery) ?? new PostQuery();
}

@*<h1>
    Đây là trang chủ
</h1>*@

@*
<p>
    Bây giờ là: @ViewBag.CurrentTime
</p>*@

<div class="p-4">

	@if (postQuery.TagSlug != null 
			|| postQuery.AuthorSlug != null
			|| postQuery.CategorySlug != null
			|| (postQuery.PostedMonths > 0 && postQuery.PostedYear > 0)
			|| !string.IsNullOrWhiteSpace(postQuery.Keyword))
	{
		<h3 class="text-primary mb-3">
			@*Những bài viết chứa từ khoá '@postQuery.Keyword'*@
			@ViewData["Title"]
		</h3>
	}

	@if (Model.Count > 0)
	{
		@foreach (var post in Model)
		{
			<partial name="_PostList" model="post" />
		}
	}
	else
	{
		<h2 class="text-center text-warning">
			Không tìm thấy bài viết
		</h2>
	}

	<partial name="_Pager" model="@Model" />


</div>