<div class="mb-4">
	<form asp-area=""
		  asp-controller="Blog"
		  asp-action="Index"
		  method="get">
		<div class="input-group mb-3">

			<input class="form-control"
				   type="email"
				   name="k"
				   placeholder="Enter email subscribe"
				   aria-label="Enter keyword"
				   aria-describedby="btnSearchPost" />
			<button class="btn btn-outline-secondary"
					type="button" id="btnSearchPost">
				Đăng ký
			</button>
		</div>
	</form>
</div>