@{
	ViewData["PageTitle"] = "Bảng điều khiển";
}

<h1 class="text-center mt-5 mb-5 text-danger">
	Đây là khu vực dành cho người quản trị
</h1>


<div class="row card-body justify-content-between" style="background: #b2bec3">
	<div class="col-md-5 card mt-5">
		<div class="row align-items-center">
			<div class="col-4" style="text-align: center">
				<i class="fa fa-globe fa-5x" style="color:#636e72"></i>
			</div>
			<div class="col-8">
				<div class="text-primary text-uppercase" style="font-size: 20px">
					Tổng số bài viết
				</div>
				<h3 class="text-danger fw-bold">
					
				</h3>
			</div>
		</div>
	</div>


	<div class="col-md-5 card mt-5">
		<div class="row align-items-center">
			<div class="col-4" style="text-align: center">
				<i class="fa fa-lock fa-5x" style="color: #d63031"></i>
			</div>
			<div class="col-8">
				<div class="text-primary text-uppercase" style="font-size: 20px">
					Số bài viết chưa xuất bản
				</div>
				<h3 class="text-danger fw-bold">
					
				</h3>
			</div>
		</div>
	</div>

	<div class="col-md-5 card mt-5">
		<div class="row align-items-center">
			<div class="col-4" style="text-align: center">
				<i class="fa fa-list fa-5x" style="color: #0984e3"></i>
			</div>
			<div class="col-8">
				<div class="text-primary text-uppercase" style="font-size: 20px">
					Số lượng chủ đề
				</div>
				<h3 class="text-danger fw-bold">
				</h3>
			</div>
		</div>
	</div>

	<div class="col-md-5 card mt-5">
		<div class="row align-items-center">
			<div class="col-4" style="text-align: center">
				<i class="fa fa-user fa-5x" style="color: #e84393"></i>
			</div>
			<div class="col-8">
				<div class="text-primary text-uppercase" style="font-size: 20px">
					Số lượng tác giả
				</div>
				<h3 class="text-danger fw-bold">
				</h3>
			</div>
		</div>
	</div>

	<div class="col-md-5 card mt-5 mb-5">
		<div class="row align-items-center">
			<div class="col-4" style="text-align: center">
				<i class="fa fa-commenting fa-5x" style="color: #1e90ff"></i>
			</div>
			<div class="col-8">
				<div class="text-primary text-uppercase" style="font-size: 20px">
					Số lượng bình luận chờ phê duyệt
				</div>
				<h3 class="text-danger fw-bold">
				</h3>
			</div>
		</div>
	</div>

	<div class="col-md-5 card mt-5 mb-5">
		<div class="row align-items-center">
			<div class="col-4" style="text-align: center">
				<i class="fa fa-users fa-5x" style="color: #2ed573"></i>
			</div>
			<div class="col-8">
				<div class="text-primary text-uppercase" style="font-size: 20px">
					Số lượng người theo dõi
				</div>
				<h3 class="text-danger fw-bold">
				</h3>
			</div>
		</div>
	</div>

</div>
